@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
body {
  background-color: #5e503f;
}
h1 {
  color: #f2f4f3;
  text-shadow: 3px 3px 3px gray;
  font-size: 40px;
  justify-content: center;
  text-align: center;
  margin: 20px;
}
.container1,
.container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
}
img {
  height: 150px;
  width: 100px;
  border-radius: 5px;
  align-items: center;
  margin-left: 50px;
  margin-top: 23px;
}
.author {
  height: 230px;
  width: 200px;
  border-radius: 5px;
  transition: all 0.3s ease;
  background-color: #a9927d;
}

button {
  text-transform: uppercase;
  height: 30px;
  width: 160px;
  text-align: center;
  margin-left: 23px;
  margin-top: 8px;
  border: none;
  color: #76323f;
  font-weight: bolder;
  font-size: 14px;
  background-color: transparent;
}
button:hover {
  transform: scale(1.1);
  background-color: #f2f4f3;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: #76323f;
}
@media (max-width: 600px) {
  h1 {
    font-size: 20px;
    /* text-align: center; */
    justify-content: center;
  }
  .container1,
  .container2 {
    display: flex;
    flex-direction: column;
  }
  .author {
    margin-top: 10px;
  }
}
